body {
margin:25px;
}





div.polaroid {
  width: 40%;
  background-color:#FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}
body
{
background-image:url("oo.jpg");
}

h2
{
color:#E35411;
text-align: left;
letter-spacing: 3px;
font-size: 40px;

}